[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HydroPortailStats"]
	path = HydroPortailStats
	url = https://github.com/benrenard/hydroportailstats
[submodule "musicXML"]
	path = musicXML
	url = https://github.com/benrenard/musicxml
[submodule "sequenceR"]
	path = sequenceR
	url = https://github.com/benrenard/sequencer
